<!DOCTYPE html>
<html>
  <head>
    <title>ShuffleLunch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="<%= lunches_path %>" class="brand-logo center">Shuffle Lunch</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  <%= yield %>
  </body>
</html>
